books.dtd

<!DOCTYPE books
[
<!ELEMENT books (book)*>
<!ELEMENT book (Title, Author_name, Genre, CopyrightYear, BookEdition, ISBNNumber, PublisherName, BookPrice)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Author_name (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT CopyrightYear (#PCDATA)>
<!ELEMENT BookEdition (#PCDATA)>
<!ELEMENT ISBNNumber (#PCDATA)>
<!ELEMENT PublisherName (#PCDATA)>
<!ELEMENT BookPrice (#PCDATA)>
]
>




















